// Colores de fondo
$Primero: rgb(239, 240, 226);  
$Segundo: rgb(40, 44, 52);
$Tercero: rgba(82, 49, 158, 0.452);
$Tablero: rgb(23, 12, 71);

// Color de las Letras
$LetrasBlancas: rgb(248, 228, 228);
$LetrasAzules: rgb(31, 10, 184);
$LetrasNegras: rgb(19, 18, 18);


// Colores 
$Azul: rgba(34, 34, 82, 0.507);
$AzulOscuro: rgba(29, 10, 71, 0.822);
$Blanco: rgba(235, 235, 245, 0.568);
$Rojo: rgba(85, 22, 7, 0.808);
$Trasparente: rgba(255, 255, 255, 0);
$BlancoDifuminado: rgba(17, 17, 17, 0.692);
$Celeste: rgba(65, 67, 223, 0.945);
$Cream: rgba(241, 248, 143, 0.945);
$CreamLigth: rgb(215, 230, 151);
$CreamDesgradado: rgb(231, 228, 175);
$NegroDifuminado: rgba(17, 17, 17, 0.692);
