@use 'variables' as var;

@use './components/Nav';
@use './components/Card';
@use './routes/Home';
@use './routes/Projects';
@use './components/About';
@use './components/Welcome';
@use './components/Targeta';


.App {
    background-color: var.$Segundo;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(https://images5.alphacoders.com/370/370573.jpg), var.$Primero ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (200px <= width <= 1366px) {
    body {
        font-size: 15px;
        font-weight: 500;
    }
}