@use '../variables' as var;

.contenedor-home {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;


    & .container {
        margin: 0 auto;
        width: 90%;
        height: 100vh;
        display: flex;

        & .box {
            background-color: var.$Primero;
            width: 70%;
            min-height: 60%;
            // max-height: 70%;
            margin: auto;


            // flex-direction: column;
            width: 90%;
            border: 2px solid var.$Blanco;
            border-radius: 30px;
            padding: 40px;
            text-align: center;
            opacity: .8;
            box-shadow: 10px 10px 5px rgb(117, 66, 66);


            & .name {
                font-size: 42px;
                color: var.$Segundo;
                width: 70%;
                margin: 50px auto 0 auto;
                border-bottom: 3px solid var.$Segundo;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.4);
                    border-bottom: 1px solid var.$Segundo;

                }
            }

            & .description {
                margin: 10px auto;
                width: 60%;
                height: 45vh;
                display: flex;
                justify-content: center;
                align-items: center;

                & h3 {
                    color: var.$LetrasNegras;
                    font-size: 24px;
                    margin-bottom: 15px;
                }
            }

            & .enlaces {
                width: 70%;
                margin: 30px auto;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;


                & button {
                    color: var.$LetrasAzules;
                    text-decoration: none;
                    transition: transfor 0.3s ease;
                    border: none;
                    margin: 10px;

                    border-radius: 15px;
                    font-size: 18px;
                    padding: 10px 15px;
                    font-weight: 600;
                    box-shadow: 10px 10px 5px rgb(110, 54, 54);

                    &:hover {
                        background-color: var.$AzulOscuro;
                        color: var.$Blanco;
                    }
                }
            }
        }
    }
}

.title-contact {
    font-size: 25px;
    margin-bottom: 20px;
    // color: var.$LetrasAzules;
}

.contact {
    text-align: start;
}


// @media screen and (min-width: 30px) and (max-width: 564px) {
@media (30px <=width <=1024px) {
    .contenedor-home {
        width: 100%;
        min-height: 100vh;
        align-items: start !important;
        position: relative;

        & .container {
            width: 90%;
            height: 80vh;
            padding: 2px;
            margin: 20px auto !important;

            & .box {
                width: 98%;
                padding: 10px;
                

                & .name {
                    padding: 0;
                    width: 90%;
                    font-size: 35px;
                }

                & .description {
                    width: 90%;
                    min-height: 400px;
                    height: auto;
                    font-size: 14px;
                    font-weight: 600;
                }

                & .enlaces {
                    margin: 10px auto 20px auto;
                    padding: 0;
                    width: 100%;
                    flex-wrap: wrap;

                    & button {
                        margin: 10px;
                    }
                }
            }
        }
    }
}