@use '../variables' as var;

.contenedor-file {
  width: 100%;
  height: 100vh;

  .titulos {
    color: var.$LetrasNegras;
    background-color: var.$Celeste;
    text-align: center;
    justify-content: center;
    font-weight: 900;

     & .titulo {
      width: 95%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
    }
  }

  & .all-projects {
    display: flex;
    max-height: 90vh;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

    & > h3 {
      width: 100%;
      text-align: center;
      font-size: 25px;
      color: var.$LetrasNegras;
    }
  }

  & .contenedor-row {
    margin: auto;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }
}

@media (300px <= width <= 660px) {
  .all-projects {
    height: 85.4vh;
  }
}
